
*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: white;
  font-weight: bold;
}

.container {
  width: 100vw;
  height: 100vh;
}

.top-nav {
  width: 100vw;
  height: 80px;
  background: #0af;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.nav-list {
  list-style: none;
}

.nav-list_item {
  display: inline-block;
  margin-right: 5px;
}

.site-section {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-section-1 {
  background: pink;
}

.site-section-2 {
  background: rebeccapurple;
}

.site-section-3 {
  background: coral;
}

.site-section-4 {
  background: limegreen;
}